*{
    margin: 0px;
    padding: 0px;
}

.jungleworks{
    width: 49.5vh;
    margin: 6px 0px 6px 1px;
    height: 19.2vh;
    font-style: italic;
}

div{
  background-color: black;
  width: 100px;
  height: 100px
}

.box {
    display: none;
    background-color: #f7fff7;
    width: 46.7vh;
    padding: 10px;
    margin: 6px 0px 6px 0px;
    height: 13.2vh;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}

body{
  /* background-color; */
  background-image: url("6.JPG"); 
  background-size: 900px 700px;
  background-repeat: no-repeat;
  background-position: 490px 148px;
}


a{
    text-decoration: none;
    color: #87b2df;
    text-align: center;
}

button {
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  color: white;
  position: absolute;
  text-align: start;
}

button:hover {
  border: 2px solid white;
  background-color: black;
  color: black;
}

button::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: white;
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(45deg);
}

button::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: white;
  height: 2px;
  top:12px;
  left: 5px;
  right: 5px;
  transform: rotate(45deg);
}
